.style_sheet {
    font-family:Times New Roman;
    font-size:15px;
    font-weight:bold;
    font-style:italic;
    color:darkblue;
}
.img{
    object-fit: fill;
    height:122px;
    width:200px;
}
.float-container {
    padding: 0px;
    font-family:Times New Roman;
    font-size:15px;
}

.float-child2 {
    width: 50%;
    float: left;
    padding: 5px;
}
.float-child1 {
    background-color: #ffd79c;
    width: 50%;
    float: left;
    padding: 5px;
}
.font-clr{
    font-weight:bold;
    color:darkblue;
}
.sheet-color{
    border: 2px solid black;
    background-image: linear-gradient(to bottom right, #ff8538, yellow);
    background-color: transparent;
    box-shadow: 10px 10px 5px silver;
}
.group-shadow{
    border: 2px solid black;
    padding: 10px;
    font-family:Helvetica;
    box-shadow: 10px 10px 5px silver;
}